html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: source-sans-pro, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

body.left-nav .main-content {
  left: 250px;
}

.topcoat-navigation-bar {
  position: absolute;
  width: 100%;
  z-index: 100;
  /*transition: left 0.2s ease-out;*/
  /*-webkit-transition: left 0.2s ease-out;*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
}

.side-nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: #353535;
}

.side-nav__list__container {
  /*margin-top: 4rem;*/
  border-top: none;
  border-bottom: none;
}

.side-nav__list {
  border-top: none;
}

.side-nav__list__item {
  padding: 0;
}

.side-nav__list__item.is-active {
  background-color: #353535;
}

.side-nav__button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  box-sizing: border-box;
  color: #c6c8c8;
  text-decoration: none;
}

.side-nav__button:hover {
  background-color: #747474;
}

.side-nav__button:active {
  background-color: #353535;
}

.main-content {
  position: absolute;
  background: inherit;
  left: 0;
  width: 100%;
  height: 100%;
  transition: left 0.2s ease-out;
  -webkit-transition: left 0.2s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
}

.content-list {
  background-color: #595b5b;
  float: left;
  min-width: 320px;
  height: calc(100% - 4rem);
  overflow-y: auto;
  margin-top: 4rem;
}

.content-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.content-list li {
  display: flex;
  margin: 0px;
  padding: 5px;
  height: 40px;
  background-color: #666;
  border-bottom: 1px solid #333;
  align-items: center;
  font-weight: bold;
  color: #eee;
}

.item-page {
  padding-top: 4rem;
  background-color: #666;
  color: #fff;
  min-width: 320px;
  width: 800px;
}

.item-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.container.item-view {
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
}

@media screen and (min-width: 640px) {
  /* @media screen and (min-width: 880px) { */
  .slide-menu-button {
    display: none;
  }

  .main-content {
    left: 320px;
    right: 0;
    width: auto;
  }
}

#app, #main, .main-container, .container, .item-page {
  height: 100%
}

.content-list {
}

.topcoat-navigation-bar {
  height: 4rem;
}

/* Form wrapper styling */
.form-wrapper {
  width: 280px;
  padding: 5px;
  margin: 190px auto 50px auto;
  background: #444;
  background: rgba(0, 0, 0, .2);
  border-radius: 10px;
  /*box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
}

/* Form text input */

.form-wrapper input {
  width: 220px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border-radius: 5px 0 0 5px;
  -moz-box-sizing: content-box;
}

.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  /*box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;*/
}

.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* Form submit button */
.form-wrapper button {
  overflow: visible;
  position: relative;
  /*float: right;*/
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 50px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  /*text-transform: uppercase;*/
  background: #d83c3c;
  border-radius: 0 5px 5px 0;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);*/
  /*pointer-events: none;*/
  -moz-user-focus: ignore;
  -moz-user-select: none;
  /*-moz-user-input: disabled;*/
}

.form-wrapper button:hover {
  background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus {
  background: #c42f2f;
  outline: 0;
}

.form-wrapper button:before { /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

.form-wrapper button:hover:before {
  border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

.form-wrapper button.dropbox {
  overflow: visible;
  position: relative;
  /*float: right;*/
  padding: 0;
  cursor: pointer;
  height: 40px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  /*text-transform: uppercase;*/
  border-radius: 5px;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);*/
  /*pointer-events: none;*/
  -moz-user-focus: ignore;
  -moz-user-select: none;
  /*-moz-user-input: disabled;*/
  background: -moz-linear-gradient(center top, #168add, #007ee5) repeat scroll 0% 0% transparent;
  border: 1px solid #0c6ebe;
  width: 100%;
}

.form-wrapper button.dropbox:before { /* left arrow */
  content: '';
  position: absolute;
  border: none;
  top: 0;
  left: 0;
}

.invalid {
  outline-color: red;
  /* also need animation and -moz-animation */
  animation: shake .5s linear;
  -moz-animation: shake .5s linear;
}

/* also need keyframes and -moz-keyframes */
@keyframes shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}

