<section role="region">
  <header>
    <a ng-tap="$navigate.go('/' + item.type, 'slide', true)"><span
        class="icon icon-back">back</span></a>

    <h1>{{item.title}}</h1>
  </header>
</section>
<section class="view detail">
  <h1>{{item.title}}</h1>

  <div class="fieldset" ng-repeat="field in fields">
    <label for="{{field.$$hashKey}}">{{field.name || field.designation}}</label><br>

    <input id="{{field.$$hashKey}}"
           readonly="readonly"
           type="{{field.pwdType}}" value="{{field.value}}">
    <button ng-show="{{field.pwdType == 'password'}}"
            ng-tap="revealPass(field)">
      {{field.pwdType == "password" ? "Reveal" : "Conceal" }}
    </button>
  </div>
</section>